<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fichario" connectionString="Data Source=LAPTOP-C7AT0VS9;Initial Catalog=ByteBank;Persist Security Info=True;User ID=sa;Password=helo1201"
            providerName="System.Data.SqlClient" />
        <add name="CursoWindowsForms.Properties.Settings.FicharioConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\helop\OneDrive\Área de Trabalho\VisualStudioProjects\Alura_CSharp_Forms\CursoWindowsForms\CursoWindowsFormsBiblioteca\DataBases\Fichario.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CursoWindowsForms.Properties.Settings.ByteBankConnectionString"
            connectionString="Data Source=LAPTOP-C7AT0VS9;Initial Catalog=ByteBank;Persist Security Info=True;User ID=sa;Password=helo1201"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>